*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

h1, h2, h3, h4, h5, h6, p, li, button, a, input {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  padding: 3rem 1rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #63c1ff, #fff);
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.todos-container {
  width: 100%;
  max-width: 30rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todos-container > p {
  width: 20rem;
  padding: 1rem;
  color: #3f8a1d;
  background: #dfffd0;
  border: 2px solid #69e430;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

ul {
  background-color: #fff;
  color: #000;
  list-style: none;
  min-width: 30rem;
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

li:nth-child(n+2) {
  border-top: 1px solid #ececec;
}

li span {
  width: 100%;
  padding: 1rem;
  margin-right: 1rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li:hover {
  background: #f5f4f4;
}

li button {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 50%;
  outline: none;
  border: 2px solid #c50000;
  color: #c50000;
  background: none;
}

li button:hover, li button:focus {
  background: #c50000;
  color: #fff;
}

form input {
  padding: 0.5rem 1rem;
  width: 15rem;
  border: 2px solid #90dcff;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
}

form input:focus {
  border: 2px solid #00aeff;
}

form input::placeholder {
  color: #aaaaaa;
}

form button {
  background: #00aeff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  outline: none;
}

form button:hover {
  background: #41c3ff;
}

form button:focus {
  background: #41c3ff;
  border: 2px solid #000;
}